* {
    margin : 0 0 0 0;
    padding : 0 0 0 0;
}
footer {
    display: flex;
    background-color: #f7f5e7;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding : 10px;
    font-family: 'Montserrat', sans-serif;
}
.gauche {
    margin-right: 60vw;
    margin-left: 20px;
    font-weight: 100;
}
p {
    font-size: 13px;
    color: gray;
    font-weight: 200;
}
.insta {
    margin-right: 3vw;
}